@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* ========== BROWSER RESET ========== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	width: 100%;
	height: 100%;
	overflow-x: hidden !important;
}

body {
	width: 100%;
	height: 100%;
	line-height: 1;
	overflow-x: hidden !important;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper {
	width: 100%;
    height: 100%;
}

/* ========== FONTS/ICONS ========== */

h1 {
	font-size: 5rem;
	color: #ffffff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

h2 {
	font-size: 3rem;
	color: #ffffff;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 50px;
}

p.form {
	font-size: 1.75rem;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	padding: 6px;
}

p.submit {
	font-size: 1.75em;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #ffffff;
	padding: 8px;
	text-align: center;
}

/* ========== ANIMATIONS ========== */

@keyframes fade-in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

/* ========== NAVIGATION ========== */

.nav-div {
	position: absolute;
	top: 75px;
	right: -280px;
	width: 280px;
	z-index: 10;
	background: #ffffff;
	-webkit-transition: right .5s ease-in-out;
	-moz-transition: right .5s ease-in-out;
	-o-transition: right .5s ease-in-out;
	transition: right .5s ease-in-out;
}

.nav-div.open {
	right: 0px;
	-webkit-transition: right .5s ease-in-out;
	-moz-transition: right .5s ease-in-out;
	-o-transition: right .5s ease-in-out;
	transition: right .5s ease-in-out;
}

ul.navigation {
	list-style-type: none;
}

ul.navigation li.nav-li {
	font-size: 1.25rem;
	font-family: 'Open Sans', sans-serif;
	padding: 12px 0px 12px 40px;
	border: solid 1px #f2f2f2;
}

ul.navigation li.nav-li:hover {
	background-color: #ff5757;
}

ul.navigation li.nav-li a {
	text-decoration: none;
	color: #000000;
}

/* ========== HEADER ========== */
.header {
	width: 100%;
	height: 75px;
	margin-bottom: 20px;
	background-color: #ffffff;
}

img.logo-ph {
	position: absolute;
	top: 12px;
	left: 30px;
	max-width: 116px;
	z-index: 10;
}

img#burger-nav {
	position: absolute;
	top: 20px;
	right: 30px;
	max-width: 35px;
	z-index: 10;
}

img#burger-nav:hover {
	cursor: pointer;
}

.sticky-header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-color: #ffffff;
	display: none;
}

/* ========== CHECKLIST PAGE ========== */

.wrapper#checklist-wrapper {
	background-color: #000033;
}

.text-box {
	width: 900px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.25rem;
	color: #ffffff;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.check-list-container {
	width: 900px;
	margin: auto;
	background-color: #0033cc;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #ffffff;
	padding: .45rem;
}

form#checklist {
	width: 100%;
}

input[type=checkbox] {
	width: 30px;
	height: 30px;
}

/* ========== MEDIA QUERIES ========== */

/* ----- Portrait View ----- */

@media only screen 
  and (max-device-width: 450px) 
  and (orientation: portrait) { 

	.wrapper {
    	height: 1250px;
	}

	.nav-div {
		right: -180px;
		width: 180px;
	}

	.sticky-header {
		z-index: 8;
		display: block;
	}

	h2 {
		font-size: 2.5rem;
	}

	.text-box {
		width: 400px;
	}

	form {
		width: 340px;
		margin: auto;
		padding: 6px 12px;
	}

	.check-list-container {
		width: 380px;
		font-size: 1.25rem;
		line-height: 2rem;
	}

	form#checklist {
		width: 100%;
		padding: .25rem;
	}

	input[type=checkbox] {
		width: 25px;
		height: 25px;
		margin-bottom: 0;
	}
}